target/

.vscode/
*.code-workspace

*.swp
*.swo
*~
.netrwhist
Session.vim

.idea/
*.iml

*#
.#*
*.elc

.directory
.Trash-*
*~

.DS_Store
.AppleDouble
.LSOverride
._*

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.env
.env.local
*.log
*.tmp